---
import MainGridLayout from "../layouts/MainGridLayout.astro";

import { getEntry } from 'astro:content';
import {i18n} from "../i18n/translation";
import I18nKey from "../i18n/i18nKey";
import Markdown from "@components/misc/Markdown.astro";

import { Icon } from 'astro-icon/components'
import { profileConfig } from '../config'
import ImageWrapper from '../components/misc/ImageWrapper.astro'
import {pathsEqual} from "@utils/url-utils";

import ArchivePanel from "@components/ArchivePanel.astro";

const aboutPost = await getEntry('spec', 'about')

const { Content } = await aboutPost.render()

const config = profileConfig
const isHomePage = pathsEqual(Astro.url.pathname, '/');
---
<MainGridLayout>
    <!--div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-[380px] mx-auto">
            <Markdown class="mt-2 grid grid-cols-2 gap-5 mb-[10px]">
                {config.links.map(item =>
                    <a aria-label={item.name} href={item.url} class:list=
                    {item.name + "_btn link-card _PostsPG !no-underline px-[10px] grid grid-cols-2 grid-row-1 justify-center items-center"}>
                        <Icon name={item.icon} size="1.5rem" class="mx-[5px] col-start-1"></Icon>
                        <span class="mr-[5px] col-start-2 text-[14px] md:text-[14px] text-right font-extrabold">{item.name}</span>
                    </a>
                )}
                <Content />
            </Markdown>
        </div>
    </div-->
	<!--div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-[380px] mx-auto border-2">
            <Markdown class="mt-2 grid grid-cols-1 gap-5 mb-[10px]">
                {config.page_links.map(item =>
                    <a aria-label={item.name} href={item.url} class:list=
                    {item.name + "_btn link-crd _PostsPG !no-underline px-[10px] grid grid-cols-2 grid-row-1 justify-center items-center"}>
                        <Icon name={item.icon} size="1.5rem" class="mx-[5px] col-start-1"></Icon>
                        <span class="mr-[5px] col-start-2 text-[14px] md:text-[16px] text-right font-extrabold">{item.name}</span>
                    </a>
                )}
                <Content />
            </Markdown>
        </div>
    </div-->
	<!--div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32 pb-4"-->
	<div class="grid grid-col-1 lg:grid-rows-3 lg:grid-flow-col gap-4 w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="row-span-1 card-base z-10 px-9 py-6 relative w-[374px] md:w-[554px] lg:w-[414px] mx-auto border-2">
            <Markdown class="mt-2 !text-[18px]">
                <Content />
            </Markdown>
        </div>
		<div class="lg:row-span-3">
		<ArchivePanel tags={["unity"]}></ArchivePanel>
		</div>
    </div>
	
</MainGridLayout>
<style>
	.link-card,.link-crd
	{
		color:white;
		background-color:#004697;
		transition: 0.3s;
	}
	.link-card:hover,.link-crd:hover
	{
		color:white;
		background-color:#1d2e3f;
		transform-style: preserve-3d;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	}
	/*.link-crd:hover
	{
		transform: perspective(800px) scale(1.1);
	}
	.link-card:hover:nth-child(even)
	{
		transform: perspective(800px) rotateY(-27deg);
	}
	.link-card:hover:nth-child(odd)
	{
		transform: perspective(800px) rotateY(27deg);
	}*/
	
	a.Home_btn{color:#fff;background-color:#004697;}
	a.Youtube_btn{color:#fff;background-color:#004697;}
	a.Twitter_btn{color:#fff;background-color:#004697;}
	a.Twitch_btn{color:#fff;background-color:#004697;}
	a.Unity_btn{color:#fff;background-color:#004697;}
	a.Github_btn{color:#fff;background-color:#004697;}
	a.Itch-io_btn{color:#fff;background-color:#004697;}
	a.Tumblr_btn{color:#fff;background-color:#004697;}
	a.Instagram_btn{color:#fff;background-color:#004697;}
	a.Bluesky_btn{color:#fff;background-color:#004697;}
	a.Gumroad_btn{color:#fff;background-color:#004697;}
	
	a.Home_btn:hover{color:#fff;background-color:#1d2e3f;}
	a.Youtube_btn:hover{color:#fff;background-color:#f70000;}
	a.Twitter_btn:hover{color:#fff;background-color:#1DA1F2;}
	a.Twitch_btn:hover{color:#fff;background-color:#6441a5;}
	a.Unity_btn:hover{color:#fff;background-color:#000;}
	a.Github_btn:hover{color:#fff;background-color:#000;}
	a.Itch-io_btn:hover{color:#fff;background-color:#fa5c5c;}
	a.Tumblr_btn:hover{color:#fff;background-color:#1d2e3f;}
	a.Instagram_btn:hover{color:#fff;background-color:rgb(177, 56, 147);}
	a.Bluesky_btn:hover{color:#fff;background-color:#1DA1F2;}
	a.Gumroad_btn:hover{color:#fff;background-color:#ff90e8;}
	</style>