---
import { siteConfig } from '@/config'
//import Footer from '@components/Footer.astro'
//import Navbar from '@components/Navbar.astro'
import BackToTop from '@components/control/BackToTop.astro'
import Profile from '@components/widget/Profile.astro'
//import SideBar from '@components/widget/SideBar.astro'
import { pathsEqual } from '@utils/url-utils'
import { Icon } from 'astro-icon/components'
import Layout from './Layout.astro'
import { profileConfig } from '../config'

import {i18n} from "../i18n/translation";
import I18nKey from "../i18n/i18nKey";
import { getEntry } from 'astro:content';
import Markdown from "@components/misc/Markdown.astro";
import ArchivePanel from "@components/ArchivePanel.astro";

interface Props {
  title: string
  banner?: string
  description?: string
  image?: string
  pageType?:string
}

const { title, banner, description, image, pageType } = Astro.props
const isHomePage = pathsEqual(Astro.url.pathname, '/')
const enableBanner = siteConfig.banner.enable
const config = profileConfig

const aboutPost = await getEntry('spec', 'about')
const { Content } = await aboutPost.render()
---

<Layout title={title} banner={banner} description={description} image={image}>
<div class="max-w-[var(--page-width)] min-h-screen grid grid-cols-[1] grid-rows-[auto_auto_1fr_auto] lg:grid-rows-[auto_auto_1fr]
    mx-auto gap-4 relative px-0">
    <div id="top-row" class="col-span-3 grid-rows-1 z-50 onload-animation" class:list={[""]}>
        <div class="absolute h-8 left-0 right-0 -top-8 bg-[var(--card-bg)] transition"></div>
        <Profile pageType={pageType}></Profile>
    </div>
    <div id="content-wrapper" class="row-start-2 col-span-3 overflow-hidden onload-animation">
        <!-- the overflow-hidden here prevent long text break the layout-->
        <main id="swup" class="transition-fade">
            <slot></slot>
        </main>
    </div>
    <!--div id="footer" class="grid-rows-3 col-span-2 mt-4 onload-animation">
        <Footer></Footer>
    </div-->
    <BackToTop></BackToTop>
</div>
</Layout>